.title-primary
{
    /* font-family: 'Playwrite AU SA', serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    text-align: center;
    color: #BFAEDB;
    margin-top: 20px;
    margin-bottom: 20px; 
    /* font-weight: 200;  */
}

.music-text{
    font-family: "Dancing Script", serif;
    font-size: 30px;
    text-align: center;
    color: #D9A5A0;
    font-weight: 500;
}

.title-secundary
{
    font-family: "Dancing Script", serif;
    font-size: 4rem;
    text-align: center;
    color: #D9A5A0;
    margin-top: 20px;
    margin-bottom: 20px; 
    font-weight: 900; /* 400 es la normal */
}

.title-subtitles-principal
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #6B5443 ;
    font-weight: 500; /* 400 es la normal */
}

.title-subtitles
{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #6B5443 ;
    font-weight: 800; /* 400 es la normal */
}

.text
{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #4A4A4A;
}

.itinerary-child span {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

.location p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
}

@media (max-width: 600px) {
    .itinerary-child span {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        text-align: center;
    }

    .music-text{
        font-size: 25px;
        font-weight: 300;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .location p{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        text-align: center;
    }
}


@media (max-width: 600px) {
    /* pantallas pequeñas móviles */
    .title-primary {
        font-size: 2rem; 
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .title-secundary {
        font-size: 2rem; 
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .title-subtitles-principal
    {
        font-size: 1rem;
        font-weight: 200; /* 400 es la normal */
    }

    .title-subtitles
    {
        font-size: 20px;
        font-weight: 200; /* 400 es la normal */
    }
}

