/* html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
} */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background: radial-gradient(circle, #E8D3A8, transparent);
}

hr {
    border: 1px solid #CFA3B2; 
}

.fixed-element {
    position: absolute; 
    z-index: 9999;
}

.music-div{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.div-primary{
    margin: 50px;
}

.party-date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.party-date-child {
    padding: 20px;
    background-color: rgb(236, 205, 202);
    border: 1px solid #BFAEDB;
    border-radius: 50%;
    text-align: center;
    width: 60px;
    height: 60px;
}

.party-date-child span {
    font-size: 25px !important;
    font-weight: bold;
    color: #4A4A4A !important;
    white-space: nowrap;
    margin: 0;
}
.party-date-child p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #4A4A4A ;
    font-weight: 100;
}

/* 768px tabletas tamaño mediano */
@media (max-width: 600px) {
    .party-date {
        gap: 20px !important;
    }

    .party-date-child {
        padding: 0;
        background-color: transparent;
        border: none;
        border-radius: 0;
        width: auto;
        height: auto;
    }

    .party-date-child span {
        font-weight: normal;
        color: #BFAEDB;
    }

    .party-date-child p {
        margin-top: 0;
        border-top: 2px solid rgba(233, 156, 156, 0.316);
    }
}

.parents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
}

.parent {
    text-align: center;
    margin: 35px;
}

.parent img {
    height: 250px;
    width: 250px;
}

@media (max-width: 600px) {
     .parents {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 8px;
    }

    .parent {
        flex: 0 0 48%;
        margin: 0;
        padding: 0;
    }

    .parent img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

.grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.grid img {
    height: 300px;
    width: 300px;
}
@media (max-width: 600px) {
    .grid img {
        height: 100px;
        width: 100px;
    }
}



.itinerary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;

}

.itinerary-child {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
    font-size: 25px;
    width: 100%;
}

.itinerary-child img {
    height: 100px;
    width: auto;
}

@media (max-width: 600px) {
    .itinerary-child img {
        height: 90px;
    }
}

.itinerary-child span:first-child {
    justify-self: end;
    margin-right: 35px;
    /* min-width: 135px;
    max-width: 135px; */
}


.itinerary-child span:last-child {
    justify-self: start;
    margin-left: 35px;
}

.locations {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
}

.location {
    text-align: center;
}

.button {
    margin: 25px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 45px;
    background-color: #BFAEDB;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.button:hover {
    background-color: #A58ACF;
}

.location .map {
    margin-top: 50px;
    margin-bottom: 50px;
}

.location .iframe {
    width: 600;
    height: 500;
}

.circle-img {
    border-radius: 50%; 
    object-fit: cover;
    border: 2px solid #EADCF8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
    .flower {
        width: 30% !important;
    }
}
.flower {
    position: absolute;
    width: 30%;
    height: auto;
}

.flower.top-left { top: 0; left: 0; }
.flower.top-right { top: 0; right: 0; }
.flower.bottom-left { bottom: 0; left: 0; }
.flower.bottom-right { bottom: 0; right: 0; }

.star-group {
    position: absolute;
}

.star {
    position: absolute;
background-color: rgb(191, 174, 219);
    border-radius: 50%;
    opacity: 0.15; 
    z-index: -1;
}